{% extends 'base.html' %}

{% block title %}Password Changed - ICT Club{% endblock %}

{% block content %}
<div class=" ">
    <div class="">
        <div class=" mx-auto">
            <div class="">
                <div class="-body ">
                    <i class="fas fa-check-circle  " style="font-size: 3rem;"></i>
                    <h2 class="">Password Changed Successfully</h2>
                    <p class=" ">Your password has been changed. You can now log in with your new password.</p>
                    <a href="{% url 'accounts:profile_detail' %}" class=" ">Back to Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
