{% extends 'base.html' %}

{% block title %}Departments - ICT Club{% endblock %}

{% block content %}
<div class=" ">
    <h2 class=" ">Our Departments</h2>
    
    <div class=" g-4">
        {% for department in departments %}
            <div class=" ">
                <div class=" h-100">
                    <div class="-body">
                        <h5 class="-title">
                            <i class="fas fa-folder me-2"></i>{{ department.name }}
                        </h5>
                        <p class="-text ">{{ department.description }}</p>
                        <p class="small ">
                            <i class="fas fa-users me-1"></i>{{ department.members.count }} members
                        </p>
                    </div>
                    <div class="-footer ">
                        <a href="{% url 'core:department_detail' department.slug %}" class="  ">Learn More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
